<!-- <app-employee-list
  [employees]="employees"
  (details)="showDetails($event)"
  (edit)="onEdit($event)"
  (delete)="onDelete($event)"
/>

@if (currentEmployee) {
  <app-employee [employee]="currentEmployee"></app-employee>
} -->

<!-- <app-employee [employee]="employee" (nameClick)="onNameClick($event)">
 Control flow -->

<!--  <br /><br /><br />
  @let level = employee.level;
   @if (level === 'J') {
    <p>Junior</p>
  } @else if (level === 'M') {
    <p>Mid</p>
  } @else {
    <p>Senior</p>
  } -->

<!-- @switch (level) {
    @case ('J') {
      <p>Junior</p>
    }

    @case ('M') {
      <p>Mid</p>
    }
  } -->

<!-- {{ 'J' | level }} -->
<!-- {{ now | date: 'MMM HH:mm' | uppercase }}
<br />
{{ now | date: 'fullDate' }}
<br />
{{ amount | currency: appcurrency }} -->
<!-- <p>Welcome to {{ appTitle }}</p>
<app-test></app-test>
<app-test></app-test>
<app-test></app-test>
<app-test></app-test>
<app-test></app-test>
<p>
  Software version in 3 years is: <b>{{ appVersion + 3 }}</b>
</p>
<div>
  <textarea rows="7" cols="60" #need (input)="onEdit(need.value)" name="" id=""> </textarea>
  <br /><br />
  My need is :
  {{ myNeed }}
</div>
<br /><br />
<div class="pwd">
  <input #upassword (input)="onPasswordView(upassword.value)" [type]="inputType" />
  <button (click)="toggleInputType()">Afficher le mot de psse</button>
</div>

<br /><br />
<div>
  Features number : {{ features }}

  <br /><br />
  <button (click)="increment()">Add feature</button>
  <button (click)="decrement()">Reduice feature</button>
</div>

<br /><br /><br /><br />

<div [class]="msgAction">Message...</div>
<div>
  <br /><br />
  <button (click)="changeColor('su ccess')">Subscribe</button>
  <button (click)="changeColor('error')">View more</button>
  <button >View more</button>
</div>
 -->
<!-- </app-employee> -->
<!-- @let levl = employee.level;
@if (levl === 'J') {
  <p>Junior</p>
} @else if (levl === 'M') {
  <p>Mid</p>
} @else {
  <p>Senior</p>
} -->
<!--
@for (employee of employees; track employee._id; let pair = $even; let ind = $even) {
  <app-employee [employee]="employee" (nameClick)="onNameClick($event)"></app-employee>
}
 -->

<!-- <router-outlet></router-outlet>
 -->

<!-- Template driven forms -->
<!-- <input
  type="text"
  [(ngModel)]="data.username"
  placeholder="Username"
  [attr.disabled]="!data.isAdult ? 'disabled' : null"
/>
<div style="margin-top: 20px">
  <label for="major"> >= 18 ans </label>
  <input type="radio" name="major" [value]="true" [(ngModel)]="data.isAdult" />

  <label for="major"> <= 18 ans </label>
  <input type="radio" name="major" [value]="false" [(ngModel)]="data.isAdult" />
</div>
{{ data.username }}
<br />
{{ data.isAdult | json }} -->

<!--
.
.
.
Reactive form
.
.

.-->

<!-- <input [formControl]="usernameCtrl" type="text" placeholder="Username" />
@if (usernameCtrl.errors && usernameCtrl.touched) { -->
<!--
      touched : true if the user has focused and left the input field //dirty : true if the user has
      changed the value of the input field
  -->

<!-- @if (usernameCtrl.hasError('required')) {
    <p style="color: red">Username is required</p>
  }

  @if (usernameCtrl.hasError('minlength')) {
    <p style="color: red">minimum 3 characters is required</p>
  }
} -->
<!-- {{ usernameCtrl.errors | json }}
<br /> -->
<!--
{{ usernameCtrl.hasError('required') | json }}
<br />
{{ usernameCtrl.hasError('minlength') | json }} -->

<!--
.
.Reactive form sans le formgroup
.
-->

<!-- <div style="margin-top: 20px">
  <label for="major"> >= 18 ans </label>
  <input [formControl]="isAdultCtrl" type="radio" name="major" [value]="true" />

  <label for="major"> <= 18 ans </label>
  <input [formControl]="isAdultCtrl" type="radio" name="major" [value]="false" />
</div>

<br />

Username: {{ usernameCtrl.value }}
<br />

Valid: {{ usernameCtrl.valid.toString() | uppercase }}

<br />
<br />
Adulte: {{ isAdultCtrl.value }} -->

<!--
  .
  .
  . Reactive form avec les form group dans le template
  .
  .
 -->

<!-- <div [formGroup]="form">
  <input formControlName="username" type="text" placeholder="Username" />

  <div style="margin-top: 20px">
    <label for="major"> >= 18 ans </label>
    <input formControlName="isAdult" type="radio" [value]="true" />

    <label for="major"> <= 18 ans </label>
    <input formControlName="isAdult" type="radio" [value]="false" />
  </div>

  <br />
  {{ form.value | json }}
</div> -->
<app-header />
<router-outlet> </router-outlet>
